/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
.form-custom-table tr th,
.form-custom-table tr td {
  max-width: 50px;
  padding: 5px;
}
.form-custom-table tr th input,
.form-custom-table tr td input {
  max-width: 100%;
}
